<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <queries>
        <package android:name="com.amazon.dee.app" />
    </queries>

    <application
        android:name="com.espressif.EspApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_esp_rainmaker_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_esp_rainmaker_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.espressif.ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.espressif.rainmaker">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="your_app_id" /> <!-- Replace with your AppID -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.espressif.ui.activities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--rainmaker://com.espressif.rainmaker/success-->
                <data
                    android:host="com.espressif.rainmaker"
                    android:path="/success"
                    android:scheme="rainmaker" />
            </intent-filter>
        </activity>

        <service
            android:name="com.espressif.EspFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.espressif.ui.activities.ConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ProvisionLanding"
            android:label="@string/title_activity_provision_landing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.BLEProvisionLanding"
            android:label="@string/title_activity_connect_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ProvisionActivity"
            android:label="@string/title_activity_provision"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.WiFiConfigActivity"
            android:label="@string/title_activity_wifi_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ThreadConfigActivity"
            android:label="@string/title_activity_thread_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.WiFiScanActivity"
            android:label="@string/title_activity_wifi_scan_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ProofOfPossessionActivity"
            android:label="@string/title_activity_pop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.EspMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.espressif.ui.activities.EspDeviceActivity"
            android:label="@string/title_activity_esp_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.NodeDetailsActivity"
            android:label="@string/title_activity_node_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.espressif.ui.user_module.SignUpConfirmActivity"
            android:label="@string/title_activity_sign_up_confirm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.user_module.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.user_module.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ClaimingActivity"
            android:label="@string/title_activity_claiming"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AddDeviceActivity"
            android:label="@string/title_activity_add_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ScheduleDetailActivity"
            android:label="@string/title_activity_schedule_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.ScheduleActionsActivity"
            android:label="@string/title_activity_actions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.SceneDetailActivity"
            android:label="@string/title_activity_scene_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.SceneActionsActivity"
            android:label="@string/title_activity_actions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.GroupsActivity"
            android:label="@string/title_activity_manage_groups"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.GroupDetailActivity"
            android:label="@string/title_activity_create_group"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.GroupNodeSelectionActivity"
            android:label="@string/title_activity_select_devices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.NotificationsActivity"
            android:label="@string/title_activity_sharing_requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AlexaAppLinkingActivity"
            android:exported="true"
            android:label="@string/title_activity_amazon_alexa"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="your_host_value"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.espressif.ui.activities.VoiceServicesActivity"
            android:label="@string/title_activity_voice_services"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AccountActivity"
            android:label="@string/title_activity_account_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.user_module.DeleteUserActivity"
            android:label="@string/title_activity_delete_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AboutAppActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.GroupShareActivity"
            android:label="@string/title_activity_group_sharing_requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.TimeSeriesActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.espressif.ui.activities.EventDeviceActivity"
            android:label="@string/title_activity_automations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AutomationActionsActivity"
            android:label="@string/title_activity_automations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.AutomationDetailActivity"
            android:label="@string/title_activity_automations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.espressif.ui.activities.FwUpdateActivity"
            android:label="@string/title_activity_fw_update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.espressif.matter.GroupSelectionActivity"
            android:label="@string/title_activity_manage_groups"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.espressif.matter.ControllerLoginActivity"
            android:label="Matter Controller Setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.espressif.matter.ThreadBRActivity"
            android:label="Thread border router"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.espressif.ui.activities.GroupInfoActivity"
            android:label="@string/title_activity_group_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="com.espressif.NodeSharingActionReceiver" />

        <receiver android:name="com.espressif.GroupSharingActionReceiver" />

        <service
            android:name="com.espressif.matter.AppCommissioningService"
            android:exported="true" />

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="home:0:preferred"
                android:value="" />
        </service>

        <!-- GPS automatically downloads scanner module when app is installed -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <meta-data
            android:name="com.google.ar.core.min_apk_version"
            android:value="19"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <receiver
            android:name="com.espressif.AppRegister"
            android:exported="true"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.espressif.ui.activities.CmdRespActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

</manifest>
